* {
    font-family: url("../../assets/fonts/Gotham-Font/Gotham-Black.otf");
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    background-repeat: no-repeat;
  }
  
  .signupSection {
    background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: 100%;
    background-repeat: no-repeat;
    border: 2px solid grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 400px;
    text-align: center;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
  }
  
  
  .signupForm {
    width: 91%;
    padding: 30px;
    background: rgba(26, 22, 61, .9);
    transition: .2s;
    h2 {
      font-weight: 300;
    }
  }
  
  .inputFields {
    margin: 14px 0;
    font-size: 15px;
    padding: 8px;
    width: 250px;
    border: 1px solid #45dfe8;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(26, 22, 61, .2);
    color: white;
    outline: none;
  }
  
  .noBullet {
    list-style-type: none;
    padding: 0;
  }
  
  #join-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
    &:hover {
      background: rgba(20, 20, 20, .8);
      padding: 10px 80px;
    }
  }
  a{
    color: #45dfe8;
    text-decoration: none;
  }
  a:hover{
    color: aliceblue;
    font-size:20px;
  }
  
  @media only screen and (min-width:320px) and (max-width:760px){
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: #fff;
      background-repeat: no-repeat;
    }
    
    .signupSection {
      background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
      background-repeat: repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 307px;
      height: 380px;
      text-align: center;
      box-shadow: 5px rgba(0, 0, 0, 0.5);
    }
    .signupForm {
      width: 83%;
      padding: 30px;
      background: rgba(26, 22, 61, .9);
      transition: .2s;
      h2 {
        font-weight: 300;
      }
    }
    
    .inputFields {
      margin: 12px 0;
      font-size: 15px;
      padding: 6px;
      width: 250px;
      border: 1px solid #45dfe8;
      border-top: none;
      border-left: none;
      border-right: none;
      background: rgba(26, 22, 61, .2);
      color: white;
      outline: none;
    }
    
    
    .noBullet {
      list-style-type: none;
      padding: 0;
    }
    
    #join-btn {
      border: 1px solid rgba(10, 180, 180, 1);
      background: rgba(20, 20, 20, .6);
      font-size: 18px;
      color: white;
      margin-top: 20px;
      padding: 10px 50px;
      cursor: pointer;
      transition: .4s;
      &:hover {
        background: rgba(20, 20, 20, .8);
        padding: 10px 80px;
      }
    }
    a{
      color: #45dfe8;
      text-decoration: none;
    }
    a:hover{
      color: aliceblue;
    } 
  }