<div class="fpasssec">
    <form #forgotForm="ngForm" (ngSubmit)="forgotForm.valid && onSubmit(forgotForm)">
        <h2 style="color: azure;">Forgot Password</h2>

        <input type="email" class="inputFields" #email="ngModel" [(ngModel)]="model.email" name="email"
            placeholder="email" required>

        <div *ngIf="forgotForm.submitted && !email.valid">
            <label>This field is required</label>
        </div><br>
        <input type="submit" id="join-btn" value="submit">
    </form>
</div>