
form {
  width: 91%;
  padding: 30px;
  background: rgba(26, 22, 61, .9);
  transition: .2s;
  h2 {
    font-weight: 300;
  }
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    background-repeat: no-repeat;
  }
  .fpasssec {
    border: 2px solid grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 240px;
    text-align: center;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
  }
.inputFields{
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid #45dfe8;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(26, 22, 61, .2);
    color: white;
    outline: none;
    align-self: center;
}
#join-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
    &:hover {
      background: rgba(20, 20, 20, .8);
      padding: 10px 80px;
    }
  }



//Mobile mode

@media only screen and (min-width:320px) and (max-width:760px){
form {
  width: 83%;
  padding: 30px;
  background: rgba(26, 22, 61, .9);
  transition: .2s;
  h2 {
    font-weight: 300;
  }
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    background-repeat: no-repeat;
  }
  .fpasssec {
    border: 2px solid grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 352px;
    height: 228px;
    text-align: center;
    box-shadow: 4px rgba(0, 0, 0, 0.5);
  }
.inputFields{
    margin: 13px 0;
    font-size: 13px;
    padding: 8px;
    width: 160px;
    border: 1px solid #45dfe8;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(26, 22, 61, .2);
    outline: none;
    align-self: center;
}
#join-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .4s;
    &:hover {
      background: rgba(20, 20, 20, .8);
      padding: 10px 80px;
    }
  }
}


