<div class="fpasssec">
    <form #resetform="ngForm" (ngSubmit)="resetform.valid && onSubmit(resetform)">
        <h2 style="color: azure;">Reset Password</h2>
        <input type="password" class="inputFields" #password="ngModel" [(ngModel)]="model.password" name="password"
            placeholder="password" required>
        <br>
        <input type="password" class="inputFields" #password2="ngModel" [(ngModel)]="model.password2" name="password2"
            placeholder="confirm password" required>

        <div *ngIf="!(password.value == password2.value)">
            <label>passwords do not match</label>
        </div>
        <div *ngIf="password.value == password2.value">
            <input type="submit" id="join-btn" value="submit">
        </div>
    </form>
</div>